<div class="container">
  <footer class="footer">
    <br>
    <small>
      Copyright &copy; <a href="http://backtothefuture.com/">Back to the future</a> by <a href="mailto:knestyapin@yahoo.com">knestyapin</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "about", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
